@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #202225;
}
main {
  padding-top: 90px;
}
@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
            h-14 w-14 mx-auto my-2 
            rounded-[50%] text-[30px]
            bg-darkNavsecondary 
            text-pri_orange 
            hover:bg-pri_orange
            hover:text-white
            hover:rounded-2xl 
            transition-all duration-300 ease-in  
            cursor-pointer;
  }
  .auth-container {
    @apply bg-darkNavsecondary text-center min-w-[250px] max-w-[500px] w-[100%] min-h-[300px] mx-3 rounded-md p-2 flex flex-col items-center;
  }
  .auth-input {
    @apply block bg-darkNavprimary p-2 text-lg outline-none my-1 w-[280px] rounded-md;
  }
  .auth-button {
    @apply font-semibold w-[280px] my-1 mt-1 p-2 rounded-sm;
  }

  .card-product {
    @apply transition-all ease-in rounded-t-md bg-darkNavsecondary flex flex-col w-[260px] h-[300px]  shadow-md hover:scale-105 shadow-black;
  }
}
.preview {
  color: #343a46;
  color: #010409;
  color: #f62509;
}
